/* BackGround Color */
body {
    background-color: #1b0025 !important;
  }

  /* Titles Color */
  .content-title *,
  .topSection___U7sVi * {
    color: #ff5500 !important;
  }

  /* Subtitles Color */
  .line-h24 {
    color: #ff5500 important;
  }

  /* Hide "Information" Title on SideBar */
  .header___RpWar {
    display: none !important;
  }

  /* Hide "Name:" / "Money:" / "Level:"" / "Points:" & "Merits:" */
  .menu-name___DvWEr,
  .name___ChDL3 {
    display: none !important;
  }

  /* Center 'XeiDaMoKa' , 'Money' , 'level' , 'Points' & 'Merits' Container */
  .menu-info-row___YG31c,
  .point-block___rQyUK {
    text-align: center;
  }

  /* Change 'XeiDaMoKa' , 'Money' , 'Points' Font Size */
  .menu-info-row___YG31c,
  .point-block___rQyUK {
    font-size: 16px !important;
  }