




  /* Hide 'Information' , 'Areas' & 'Lists' Headers */

.toggle-block___oKpdF .header___RpWar {

  display : none !important ;
}



  /* Hide 'Name:' , 'Money:' , 'Level:' & 'Points:' / Merits & Level */
.menu-name___DvWEr,
.point-block___rQyUK:nth-of-type(2),
.point-block___rQyUK:nth-of-type(4),
.name___ChDL3,
.use___wM1PI {
    display: none !important;
  }




  /* Hide Bar Titles */

.bar-name___cHBD8 ,
.bar-name___EcY8p  {

  display : none !important ;

}



/* Color of 'Energy' */

.energy___hsTnO .bar-value___NTdce {

  padding-left : 2px !important ;

  color : #93f707 !important ;

  font-size : 12.5px !important ;
}



/* Color of 'Nerve' */

.nerve___AyYv_ .bar-value___NTdce {

  padding-left : 2px !important ;

  color : #ff6a00  !important ;

  font-size : 12.5px !important ;
}



/* Color of 'Happy' */

.happy___g3XML .bar-value___NTdce {

  padding-left : 2.5px ;

  color : #e6e86d ;

  font-size : 12.5px ;
}




/* Color of 'Life' */

.life___PlnzK .bar-value___NTdce {

  padding-left : 2px !important ;

  color : #6587ff ;

  font-size : 12.5px !important ;
}



/* Center 'XeiDaMoKa' , 'Money' , 'Points' Container */

.menu-info-row___YG31c,
.point-block___rQyUK {

  text-align : center !important ;
}





/* Color of 'XeiDaMoKa' */

.menu-value___gLaLR {

  color : rgb(250 , 75 , 0) !important ;

  font-size : 15px !important ;

  font-weight : 750 !important
}



/* Color of 'Money' */

#user-money {

  color : rgb(0,175,0) !important ;

  font-size : 16px !important ;

  font-weight : 750 !important
}



/* Color of 'Points' */

.value___mHNGb {

  color : rgb(0,100,200) !important ;

  font-size : 16px !important ;

  font-weight : 750 !important
}



.tt-sidebar-information , .tt-sidebar-information-divider.tt-delimiter {

  display : none ;
}



#companyAddictionLevel span, .countdown {

    float: right ;

    color: #888888
}

.bar-value___uxnah {
  padding-left: 2.5px
}
.tt-sidebar-information .title {
  padding-left: 3px
}



/* Color of Headers , Links & Server */

.d .t-blue-cont a , .link-text , .server-name___DSWCP {

  color : rgb(0,175,225) !important ;
}



  /* Logo Image */

.webp-support div.logo {
    background-image: url(https://www.notion.so/image/https%3A%2F%2Fi.imgur.com%2FMUVSbC6.png?id=8e31d0ce-39a8-4ad3-9486-dda8f607c254&table=collection&spaceId=f1a3ce2c-f911-4fc1-a443-17bd0a51c403&width=2000&userId=1e27ceb0-2244-4973-acad-52cdd42f70e3&cache=v2) !important;
}
