@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: #1a0025;
    color: #ff5500;
    width: 500px;
    height: 1000px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0 0 15px;
}

button {
    background-color: #ff5500;
    color: #1a0025;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}
