


  /* Background Color */

  body {

    background-color: #1c0028 !important;
  }



    /* Titles Color */

  h4 {

    color : #f50 !important ;

  }



    /* Color of SubTitles */

  .line-h24 {

    color : #f50 !important ;
  }



    /* Hide 'Information' , 'Areas' & 'Lists' Headers */

  .toggle-block___oKpdF .header___RpWar {

    display : none !important ;
  }



    /* Hide 'Name:' , 'Money:' , 'Level:' & 'Points:' / Merits & Level */
  .menu-name___DvWEr,
  .point-block___rQyUK:nth-of-type(2),
  .point-block___rQyUK:nth-of-type(4),
  .name___ChDL3,
  .use___wM1PI {
      display: none !important;
    }




    /* Hide Bar Titles */

  .bar-name___cHBD8 ,
  .bar-name___EcY8p  {

    display : none !important ;

  }



  /* Color of 'Energy' */

  .energy___hsTnO .bar-value___NTdce {

    padding-left : 2px !important ;

    color : #93f707 !important ;

    font-size : 12.5px !important ;
  }



  /* Color of 'Nerve' */

  .nerve___AyYv_ .bar-value___NTdce {

    padding-left : 2px !important ;

    color : #ff6a00  !important ;

    font-size : 12.5px !important ;
  }



  /* Color of 'Happy' */

  .happy___g3XML .bar-value___NTdce {

    padding-left : 2.5px ;

    color : #e6e86d ;

    font-size : 12.5px ;
  }




  /* Color of 'Life' */

  .life___PlnzK .bar-value___NTdce {

    padding-left : 2px !important ;

    color : #6587ff ;

    font-size : 12.5px !important ;
  }



  /* Center 'XeiDaMoKa' , 'Money' , 'Points' Container */

  .menu-info-row___YG31c,
  .point-block___rQyUK {

    text-align : center !important ;
  }





  /* Color of 'XeiDaMoKa' */

  .menu-value___gLaLR {

    color : rgb(250 , 75 , 0) !important ;

    font-size : 15px !important ;

    font-weight : 750 !important
  }



  /* Color of 'Money' */

  #user-money {

    color : rgb(0,175,0) !important ;

    font-size : 16px !important ;

    font-weight : 750 !important
  }



  /* Color of 'Points' */

  .value___mHNGb {

    color : rgb(0,100,200) !important ;

    font-size : 16px !important ;

    font-weight : 750 !important
  }



  .tt-sidebar-information , .tt-sidebar-information-divider.tt-delimiter {

    display : none ;
  }



  #companyAddictionLevel span, .countdown {

      float: right ;

      color: #888888
  }

  .bar-value___uxnah {
    padding-left: 2.5px
  }
  .tt-sidebar-information .title {
    padding-left: 3px
  }



  /* Color of Headers , Links & Server */

  .d .t-blue-cont a , .link-text , .server-name___DSWCP {

    color : rgb(0,175,225) !important ;
  }
