body {
    background-color: #1b0025;
    margin: 0; /* Remove margin to avoid scrolling issues */
    width: 500px;
    height: 1000px;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #1f0025;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff5500;
    border-radius: 2.5px;
}

* {
    color: #ff5500;
    font-family: 'comfortaa', sans-serif;
    vertical-align: middle;
    top: 0px;
}

#logo {
    vertical-align: middle;
    margin-right: 15px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #1b0025;
    z-index: 1000;
    padding: 5px 10px 15px 10px;
}

h1 {
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    margin-top: 35px;
    margin-left: 20px;
}

.storageContainer {
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#clearStorage, #toggleCSSDisplay {
    background-color: #003355;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    font-weight: bold !important;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    box-shadow: 0 0 0 1px #003355;
}

#clearStorage:hover, #toggleCSSDisplay:hover {
    box-shadow: inset 0 0 0 1px #003355, 0 0 0 1px #ff5500;
}

.settings {
    display: flex;
    align-items: center;
    padding: 1% 10%;
    justify-content: space-between;
    border: 1px solid #ff5500;
}

.customButton {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-weight: bold !important;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: #003355;
    margin-bottom: 10px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cssDisplaySection {
    display: none;
    padding: 15px 15px;
    background-color: #1b0025;
}

#cssTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cssText {
    width: calc(100% - 30px);
    height: 75px;
    margin-top: 10px;
    background-color: #003355;
    color: #ff5500;
    border: 1px solid #ff5500;
    padding: 15px 15px;
}

#cssText::-webkit-scrollbar {
    width: 5px;
}

#cssText::-webkit-scrollbar-track {
    background-color: #1f0025;
}

#cssText::-webkit-scrollbar-thumb {
    background-color: #ff5500;
}

#defaultCSSDisplaySection, #customCSSDisplaySection {
    display: none;
    padding: 15px 15px;
    background-color: #1b0025;
}

#defaultCSSTextContainer, #customCSSTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#defaultCSSText, #customCSSText {
    width: calc(100% - 30px);
    height: 75px;
    margin-top: 10px;
    background-color: #003355;
    color: #ff5500;
    border: 1px solid #ff5500;
    padding: 15px 15px;
    font-weight: bold !important;
}

#customCSSText.valid {
    border-color: green;
    color: green;
}

#customCSSText.invalid {
    border-color: red;
    color: red;
}

#customCSSText:focus {
    outline: none;
    border-color: inherit; /* Use the border color from the valid/invalid class */
}

#defaultCSSText::-webkit-scrollbar, #customCSSText::-webkit-scrollbar {
    width: 5px;
}

#defaultCSSText::-webkit-scrollbar-track, #customCSSText::-webkit-scrollbar-track {
    background-color: #1f0025;
}

#defaultCSSText::-webkit-scrollbar-thumb, #customCSSText::-webkit-scrollbar-thumb {
    background-color: #ff5500;
}

button {
    background-color: #003355;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    font-weight: bold !important;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 0 1px #003355;
}

button:hover {
    box-shadow: inset 0 0 0 1px #003355, 0 0 0 1px #ff5500;
}

.colorPicker, #hideAreaTitles, #hideSidebarLabels {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #ff5500;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #003355;
    margin-left: 15px;
    margin-top: -2.5px;
}

.colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}

.colorPicker:hover, #hideAreaTitles:hover, #hideSidebarLabels:hover {
    box-shadow: 0 0 0 2px #ff5500;
}

#hideAreaTitles:checked::before, #hideSidebarLabels:checked::before {
    content: '\2714';
    font-size: 20px;
    color: #ff5500;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spacer {
    height: 5px;
}

.settings {
    padding: 15px;
    margin: 15px;
}

.settings:first-of-type {
    margin-top: 30px;
}

.settings:last-of-type {
    margin-bottom: 30px;
}

.red-button {
    background-color: red;
    color: #ffffff;
    font-weight: bold !important;
}

.green-button {
    background-color: green;
    color: #ffffff;
    font-weight: bold !important;
}